@font-face {
  font-family: ApercuPro sans-serif;
  src: url(/fonts/ApercuPro/ApercuPro-Black.woff);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row + .row {
  margin-top: 1rem;
}

[class^=ba-col-] {
  padding: 0 15px;
}

.item-1 {
  width: 2em;
}

.ba-col-1 {
  width: 8.3333333333%;
}

.item-2 {
  width: 4em;
}

.ba-col-2 {
  width: 16.6666666667%;
}

.item-3 {
  width: 6em;
}

.ba-col-3 {
  width: 25%;
}

.item-4 {
  width: 8em;
}

.ba-col-4 {
  width: 33.3333333333%;
}

.item-5 {
  width: 10em;
}

.ba-col-5 {
  width: 41.6666666667%;
}

.item-6 {
  width: 12em;
}

.ba-col-6 {
  width: 50%;
}

.item-7 {
  width: 14em;
}

.ba-col-7 {
  width: 58.3333333333%;
}

.item-8 {
  width: 16em;
}

.ba-col-8 {
  width: 66.6666666667%;
}

.item-9 {
  width: 18em;
}

.ba-col-9 {
  width: 75%;
}

.item-10 {
  width: 20em;
}

.ba-col-10 {
  width: 83.3333333333%;
}

.item-11 {
  width: 22em;
}

.ba-col-11 {
  width: 91.6666666667%;
}

.item-12 {
  width: 24em;
}

.ba-col-12 {
  width: 100%;
}

.box {
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 100%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  max-width: 100px;
  padding: 0 1em;
}
.btn:hover {
  background-color: black;
}

.margin0 {
  margin: 0;
}

.header-text {
  background-color: #000;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
}
.header-title {
  color: white;
}

.Navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Navbar-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Navbar-buttonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Navbar-burgermenu {
  display: block;
  width: 16px;
  height: 1px;
  background-color: #000;
}

.ba-section {
  margin-top: 21px;
}

.containerGeneral {
  width: 320px;
  height: 507px;
  background-image: url(../img/girls_General_.png);
  overflow: hidden;
}
.containerGeneral-titleUpper {
  margin-top: 44px;
  margin-left: 11px;
  margin-right: 21px;
  font-family: "Shalimar", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}
.containerGeneral-titleLower {
  font-family: "Montagu Slab", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #666666;
}
.containerGeneral-main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}
.containerGeneral-bnt {
  margin-top: 12px;
  color: black;
}
.containerGeneral-bnt :hover {
  background-color: black;
  color: white;
}
.containerGeneral-Stylebnt {
  width: 103px;
  height: 41px;
  border: 1px solid #000000;
  font-size: 14px;
  padding: 0;
  font-weight: 600;
  line-height: 20px;
  font-family: "Apercu Pro";
}
.containerGeneral-StyleTextbnt {
  font-family: "Montagu Slab", serif;
  color: #000000;
}
.containerGeneral-box {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.containerProducts-title {
  width: 261px;
  height: 72px;
  font-family: "Shalimar", cursive;
  font-weight: 400;
  font-size: 44px;
  line-height: 36px;
  text-align: center;
  margin-top: 16px;
}
.containerProducts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}
.containerProducts-navItems {
  font-weight: 400;
  font-size: 11px;
  margin-left: 23px;
  letter-spacing: 3px;
  font-family: "Montagu Slab", serif;
  color: #000000;
}
.containerProducts-navItems :hover {
  border-bottom: 3px solid #000000;
}

.slider_little {
  left: 15px;
}

.item_card {
  width: 160px;
  height: 312px;
}
.item_img {
  overflow: hidden;
}
.item_name {
  margin-top: 8px;
  font-weight: 400;
  font-family: "History Pro 02";
  color: black;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2px;
}
.item_price {
  font-family: "Apercu Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #929292;
}

.button_container {
  margin-top: 36px;
}
.button_style {
  width: 320px;
  height: 56px;
  font-family: "Apercu Pro";
  font-weight: bold;
  border: 1px solid black;
  margin-left: 15px;
}

.c {
  height: 100px;
}

.a {
  width: 50px;
}

.b {
  width: 100px;
  height: 50px;
}/*# sourceMappingURL=app.css.map */