$backgorund:#000;

// @font-face {
//     font-family: "History", sans-serif;
//     src: url(../fonts/History\ Pro\ 02.otf);
// }
.box{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    max-width: 100px;
    padding: 0 1em;

    &:hover{
        background-color: black;
    }
}
.margin0{
    margin: 0;
}
.header{
    &-text{
        background-color: $backgorund;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 24px;
    }
    &-title{
        color: white;
    }
}
.Navbar{
    &-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    &-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-buttonMenu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &-burgermenu{
        display: block;
        width: 16px;
        height: 1px;
        background-color: $backgorund;
    }
}
.ba-section{
    margin-top: 21px;
}
.containerGeneral{
    width: 320px;
    height: 507px;
    background-image: url(../img/girls_General_.png);
    overflow: hidden;
    &-titleUpper{
    margin-top: 44px;
    margin-left: 11px;
    margin-right: 21px;
    font-family: 'Shalimar', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    }
    &-titleLower{
        font-family: 'Montagu Slab', serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #666666;

    }
    &-main{
        justify-content: center;
        align-items: center;
    }
    &-bnt{
        margin-top: 12px;
        // font-family: 'Montagu Slab', serif;
        color: black;
        :hover{
            background-color: black;
            color: white;
        }
    }
    &-Stylebnt{
        width: 103px;
        height: 41px;
        border: 1px solid #000000;
        font-size: 14px;
        padding: 0;
        font-weight: 600;
        line-height: 20px;
        
    }
    &-StyleTextbnt{
        font-family: 'Montagu Slab', serif;
        color:#000000;
    }
    &-box{
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
    }
}